{%load static%}

<footer class="bg-black small text-center text-white-50">
    <!-- Contact Section -->
    <section style="padding-bottom:5%;" class="contact-section bg-black">
      <div class="container">
  
        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>
  
      </div>
    </section>
  
    <div class="container">
      Copyright &copy; PyLadies Sergipe 2020
    </div>
  </footer>
