{% load static %}

<div class="container">

    <div class="row">
      <div class="col-lg-8 mx-auto centerlized">
          <h2 class="mb-4 text-uppercase">Postagens Recentes</h2>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5 integrantes-row">
      <div class="card card-blog" >
        <a href="/blog/publicacao-teste"> <img class="card-img-top" src="{% static 'img/python-example.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <p class="card-title"> Lorem ipsum</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div></a>
      </div>

    </div>
</div>
