{% load static%}

<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img src="{% static 'img/lady.png' %}" alt="Equipe imagem">
        <h2 class="text-white mb-4">Sobre Pyladies Sergipe</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet molestie lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Vestibulum molestie ut urna a lacinia. Proin pretium erat vitae urna finibus pulvinar. Phasellus pharetra, dolor viverra posuere hendrerit, </p>
      </div>
    </div>
  </div>